body {
	font: 10px sans-serif;
	/*padding: 100px;*/
	margin: 0;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}
.axis {
	outline: solid green 3px;
}
.x.axis path {
	/*display: none;*/
}
.chart {
	display: block;
	outline: dotted black 3px;
	fill: black;
}

.chart-g {
	outline: dotted red 3px;
	fill: black;
}
rect.chart-g {
	stroke: blue;
	fill: none;
}
.plot-surface {
	fill: black;
	opacity: 0.5;
	outline: solid #808080 3px;
}