svg {
  font-size: 10px;
}
.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: 1px;
}

.x.axis path {
  stroke: #000;
}

.x.axis line {
  stroke: #000;
  stroke-opacity: .5;
}

.y.axis line {
  stroke: #ddd;
}

path.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.2px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}